# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app



ajson
ajson.l.c
ajson.l.h
ajson.png
ajson.y.c
ajson.y.dot
ajson.y.dot.png
ajson.y.h
ajson.y.output
dat.json
dat2.json
idea.jst
ig
jpath.c
jpath.html
jpath.y
jpath/j.lex
jpath/jpath.l.c
jpath/jpath.l.h
jpath/jpath.txt
jpath/jpath.y.c
jpath/jpath.y.h
jpath/lex.yy.c
jpath/y.output
jpath/y.tab.c
json-single
json-test
json-test.c
json-tool
json.l.y
minify
minify.c
scb
scb.c
t
test2.json
test3.json
y.tab.c
