# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app



*.y.c
*.y.h
*.l.c
*.l.h
*.json
idea.jst
jpath/j.lex
jpath/jpath.l.c
jpath/jpath.l.h
jpath/jpath.txt
jpath/jpath.y.c
jpath/jpath.y.h
jpath/lex.yy.c
jpath/y.output
jpath/y.tab.c
